.jumbotron {
  background-color:rgb(255, 233, 217, 0.2);
  color: #508C91;
}


.jumbotron img {
  float: right;
  width: 200px;
  height: auto;
  border-radius: 50%;
}

.container h1 {
  font-weight: bold;
  text-decoration: underline;
}

body {
  background-image: url(/img/woods-medium.jpg);
  color: white;
}

.row {
  color: black;
}

.well {
  background-color: rgb(245, 245, 245, 0.2);
}