.jumbotron {
  background-color:#FFE9D9;
  color: #508C91;
}

.container h1 {
  font-weight: bold;
  text-decoration: underline;
}

body {
  background-image: url(/img/woods-medium.jpg);
  color: white;
}
.jumbotron h1 {
  
}

.jumbotron p {
  
}