.jumbotron {
  background-color:#FFE9D9;
  color: #508C91;
}

.jumbotron img {
  float: right;
  width: 200px;
  height: auto;
  border-radius: 50%;
}

.container h1 {
  font-weight: bold;
  text-decoration: underline;
}

body {
  background-image: url(/img/woods-medium.jpg);
  color: white;
}

.row {
  color: black;
}
.jumbotron h1 {
  
}

.jumbotron p {
  
}